/* ===========
    colors   
=========== */
/*  primary  */
/*  Accent  */
/*  Neutral  */
/* ==============
    Typography  
=============== */
/*  Body Copy  */
/*  Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Mono:wght@700&display=swap");
/*  Mixins  */
/*  Main  */
.container {
  padding: 5rem 1rem;
  background-color: #ff7a7a;
  background-image: url("../assets/images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (min-width: 720px) {
  .container {
    padding: 6rem;
    background-image: url("../assets/images/bg-intro-desktop.png");
  }
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 720px) {
  .component {
    display: -ms-grid;
    display: grid;
    column-gap: 2rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.intro h1 {
  font-size: clamp(2.1rem, -0.875rem + 8.333vw, 2.5rem);
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: 0 3rem;
}
@media (min-width: 720px) {
  .intro h1 {
    text-align: start;
    line-height: 1.2;
    margin-left: 1rem;
    margin-right: 30%;
  }
}

.intro > p {
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  margin: 1.5rem 1.3rem;
}
@media (min-width: 720px) {
  .intro > p {
    text-align: start;
    margin-left: 1rem;
  }
}

/*  signup  */
.signup {
  margin: 1rem;
}

.signup h2 {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin: 1rem 0;
  padding: 1.5rem 5rem;
  border-radius: 12px;
  background-color: #6055a5;
  box-shadow: 0 8px rgba(62, 60, 73, 0.3);
}
.signup h2 span {
  font-weight: 700;
}
@media (min-width: 720px) {
  .signup h2 {
    padding: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 8px rgba(62, 60, 73, 0.3);
}

input[type=text],
input[type=password],
input[type=email] {
  font-weight: 600;
  border: 1px solid #b9b6d3;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  padding: 1rem;
}

.invalid {
  background-image: url("../assets/images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: right 5% top 50%;
  border: 2px solid #ff7a7a;
}

.btn {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  padding: 1rem;
  border-width: 0;
  border-radius: 5px;
  background-color: #38cc8c;
  box-shadow: 0 5px #54a682;
}
.btn:active {
  background-color: rgba(56, 204, 140, 0.9);
}

.form .terms {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  font-weight: 500;
  color: #b9b6d3;
  line-height: 2;
  margin: 0 2.33rem;
}
.form .terms span {
  color: #ff7a7a;
  font-weight: 700;
}

/* Error Messages  */
.form .error {
  display: none;
  font-size: 0.8rem;
  color: #ff7a7a;
  text-align: end;
}

/*# sourceMappingURL=index.css.map */
