/* ===========
    colors   
=========== */


/*  primary  */

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

/*  Accent  */

$blue: hsl(248, 32%, 49%);

/*  Neutral  */

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

/* ==============
    Typography  
=============== */


/*  Body Copy  */

$font-size: 16px;

/*  Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Mono:wght@700&display=swap');
$poppins: 'Poppins',
sans-serif;
$f-400: 400;
$f-500: 500;
$f-600: 600;
$f-700: 700;

/*  Main  */

.container {
    padding: 5rem 2rem;
    background-color: $red;
    background-image: url("../assets/images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    font-family: $poppins;
    @media (min-width: 720px) {
        background-image: url("../assets/images/bg-intro-desktop.png");
    }
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    @media (min-width: 720px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}