/* ===========
    colors   
=========== */


/*  primary  */

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

/*  Accent  */

$blue: hsl(248, 32%, 49%);

/*  Neutral  */

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

/* ==============
    Typography  
=============== */


/*  Body Copy  */

$f-size: 1rem;

/*  Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Mono:wght@700&display=swap');
$poppins: 'Poppins',
sans-serif;
$f-400: 400;
$f-500: 500;
$f-600: 600;
$f-700: 700;

/*  Mixins  */

@mixin display-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin typography($size: 1rem) {
    font-size: $size;
    color: #fff;
    text-align: center;
}

@mixin box-theme($bg-color: #fff) {
    border-radius: 12px;
    background-color: $bg-color;
    box-shadow: 0 8px rgba($dark-blue, 0.3);
}


/*  Main  */

.container {
    padding: 5rem 1rem;
    background-color: $red;
    background-image: url("../assets/images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
    font-size: $f-size;
    font-family: $poppins;
    font-weight: $f-400;
    @media (min-width: 720px) {
        padding: 6rem;
        background-image: url("../assets/images/bg-intro-desktop.png");
    }
}

.component {
    @include display-theme;
    @media (min-width: 720px) {
        display: -ms-grid;
        display: grid;
        column-gap: 2rem;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

.intro h1 {
    @include typography($size: clamp(2.1rem, -0.875rem + 8.333vw, 2.5rem));
    font-weight: $f-700;
    margin: 0 3rem;
    @media (min-width: 720px) {
        text-align: start;
        margin-left: 1rem;
        margin-right: 30%;
    }
}

.intro p {
    @include typography($size: 1.1rem);
    margin: 1.5rem 1.3rem;
    @media (min-width: 720px) {
        text-align: start;
        margin-left: 1rem;
    }
}


/*  signup  */

.signup {
    margin: 1rem;
}

.signup h2 {
    @include typography;
    font-weight: $f-400;
    margin: 1rem 0;
    padding: 1.5rem 5rem;
    @include box-theme($bg-color: $blue);
    span {
        font-weight: $f-700;
    }
    @media (min-width: 720px) {
        padding: 1rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    padding: 1.5rem;
    @include box-theme;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    font-weight: $f-600;
    border: 1px solid $grayish-blue;
    border-radius: 5px;
    margin-bottom: 0.8rem;
    padding: 1rem;
    background-image: url("../assets/images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: right 5% top 50%;
    //border: 2px solid $red;
}

button[type="submit"] {
    color: white;
    font-weight: $f-600;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    padding: 1rem;
    border-width: 0;
    border-radius: 5px;
    background-color: $green;
    box-shadow: 0 5px hsl(154, 33%, 49%);
}

.form p {
    @include typography($size: 0.8rem);
    font-weight: $f-500;
    color: $grayish-blue;
    line-height: 2;
    margin: 0 2.33rem;
    span {
        color: $red;
        font-weight: $f-700;
    }
}


/* Error Messages  */